/* HarmonyAdding.css */
.selected-pond-info, .selected-fish-info {
    background-color: #f0f2f5; /* Màu nền nhẹ nhàng */
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .selected-pond-info h3, .selected-fish-info h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #1890ff; /* Màu xanh lam chủ đạo */
  }
  
  .selected-pond-info p, .selected-fish-info p {
    font-size: 14px;
    color: #595959;
    margin: 4px 0;
  }
/*   
  .selected-fish-info img {
    margin-top: 10px;
     border-radius: 8px;
    /* border: 2px solid #1890ff;  */
  /* } */ */
  .selected-fish-info img,.selected-pond-info img {
    margin-top: 10px;
    border-radius: 20px;
    /* border: 2px solid #1890ff;   */
    width: 100%; 
    max-width: 400px;
    aspect-ratio: 4 / 3; 
    background-color: #f0f0f0; 
  }
  