.harmony-rating{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-color: #F4F4F4;
}

.rating-background{
    width: 100%;
    height: auto;
    opacity:0.3;
}
.rating-title{
    padding: 40px 0;
    color: black;
    font-size: 50px;
    font-family: Arial, sans-serif;
}
.picking-box{
    background-color: white;
    padding: 30px 40px;
    margin: 0 410px 0 410px;
    border-radius: 10px;
    border: 1px solid black;
}
