.harmony-rating{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-color: #F4F4F4;
}

.rating-background{
    width: 100%;
    height: auto;
    opacity:0.3;
}
.rating-title{
    padding: 40px 0;
    color: #7E60BF;
    text-shadow: 
        0.5px 0.5px 0 black, 
        -0.5px 0.5px 0 black, 
        0.5px -0.5px 0 black, 
         -0.5px -0.5px 0 black;
    font-size: 50px;
    /* font-family: var(--font-playwrite); */
}

.picking-box{
    width: 90%;
    background-color: white;
    padding: 30px 40px;
    margin-left: 5%;
    border-radius: 10px;
    border: 1px solid black;
}
.selected-fish-info img{
    max-width: 350px;
    height: auto;
}
.harmony-form{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.picking-fish-box{
    padding: 3%;
    width: 45%;
}
.picking-pond-box{
    padding: 3%;
width: 45%;
}
.rating-result{
    margin: 20px;
}
