.new-blog h4{
    font-size: 33px;
    text-align: left;
    font-family: var(--font-playwrite);
    margin: 20px 0;
    color: #7E60BF;
    text-shadow: 
        0.5px 0.5px 0 black, 
        -0.5px 0.5px 0 black, 
        0.5px -0.5px 0 black, 
         -0.5px -0.5px 0 black;
}
.advertising-posting-home{
    width: 100%;
    height: auto;
    margin: 30px 0;
}

/* .advertising-posting-home h4{
    text-align: left;
    margin-left: 10%;
    font-family: var(--font-arima);
} */
.link-to-detail img{
    border-radius: 10px;
}
.link-to-detail h3{

}
.show-blog-link a{
    text-decoration: none;
    color: black;
    margin-right: 160px;
}
.show-blog-link:hover a{
    color: red;
    
}