.calculate{
    width: 100%;
    min-height: 100vh;
   /* background-image: url('https://i.pinimg.com/originals/ca/92/06/ca92068e40ef52cadf49ea1d0a98bf6c.gif'); */
    background-size: cover;
    background-image: url('https://i.pinimg.com/originals/ad/eb/85/adeb8522ca5c0e64257dc51c6d73f3b5.gif');
    background-position: center;
    font-family: var(--font-arima);
    padding-bottom: 20px;
    
}

.cal-background{
    width: 100%;
    height: auto;
    opacity:0.3;

}

.calculate-title{
    padding: 40px 0;
    color: #E8B86D;
    font-size: 50px;
    font-family: var(--font-playwrite);
    text-shadow: 
        1.5px 1.5px 0 black, 
        -1.5px 1.5px 0 black, 
        1.5px -1.5px 0 black, 
         -1.5px -1.5px 0 black;
} 

.calculate-board{
    background-color: #FFF;
    padding: 30px 40px;
    margin: 0 300px 200px 300px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(240, 234, 243, 0.76);
    background-image: radial-gradient(#EBF0FF, #FFE1FF);
    /* opacity: 0.8; */

}
.fengshui-result h4{
    font-weight: normal;
    font-family: var(--font-arima);
    color: rgb(90, 11, 11);
    margin: 10px;
}

/* .form-title{
    color: rgb(188, 187, 187);
    text-shadow: 
        1.5px 1.5px 0 black, 
        -1.5px 1.5px 0 black, 
        1.5px -1.5px 0 black, 
        -1.5px -1.5px 0 black;
        padding: 10px 0;
} */

.form-input{
    /* margin: 10px; */
}
.form-input input{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

.label{
    margin: 20px;
    /* font-weight: bold; */
  margin-bottom: 4px;
}
.form-radio{
    margin: 30px;
}
.form-radio input{
    padding-left: 5px;
}
.choose-button{
    width: 20%;
    margin: 0 20px 0 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
}

.choose-button:hover{
    background-color: #6F2074;
    color: aliceblue;
}
.calculate-quotes{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    /* margin-top: 30px; */
    background-color: rgba(255, 255, 255, 0.575);
}
.cal-quotes{
    width: 60%;
    font-size: 16px;
    padding: 30px 70px;
    text-align: left;
}
.cal-ui{
width: 40%;
padding: 10px;
}

.cal-img{
    width: 220px;
    height: 220px;
    border-radius: 40%;
    margin: 0 20px;
    padding: 15px;
}