.header-form{
    background-color: pink;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.list-active{
    width: 100%;
    text-align: right;
}

.active{
    color: black;
    display: inline;
    padding: 0 40px 0 40px;
    font-size: 15px;
    
}

.link{
    text-decoration: none;
    color: black;
    text-align: right;
}