.my-blog{
    width: 100%;
    align-items: center;
    position: relative;
    height: fit-content;
    background-color: #F4F7FE !important;
}
.myBlog-container{
    background-color: #FFF;
    height: auto;
    width: 70%;
    padding: 20px;
    border: 1px solid rgb(189, 189, 189);
    margin: 20px 15%;
}
.profile-section{
    width: 30%;
    text-align: left;
    display: flex;
}
.profile-section a{}


.blog-btn{
    margin-left: 5opx;
}
.blog-title{
    margin-top: 40px;
    color: black;
    text-align: center;
    margin-left: 50px;
}
.button-blogs{
    width: 120px;
    height: 40px;
    margin: 10px;
    border: 1px solid #D6EFD8;
    border-radius: 10px;
    background-color: #F2F9F8;
}
.button-blogs:hover{
    background-color: #FCAEAE;
}
.blogs{
    width: 100%;
}
.blogs h2{
    color: black;
}
.approve-blog-container{
    width: 100%;
    margin: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.post-information{
    width: 470px;
    height: 470px;
    background-color: #FFF;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.blog-information a{
    text-decoration: none;
}
.pending-blog-container{
    width: 80%;
    margin-top: 30px;
    align-items: center;
    margin-left: 20%;
}
.my-blog{
    width: 100%;
    height: 60vh;   
    background-color: #FFFFFF;
}

.blog-title{
    margin: 10px;
}

.button-blogs{
    margin: 0 20px 0 20px;
    background-color: white;
    width: 110px;
    height: 30px;
    border-radius: 5px;
}

.input-blog{
    border-radius: 5px;
    height: 25px;
    margin-left: 20px;
}
