.my-blog{
    width: 100%;
    align-items: center;
    position: relative;
    height: fit-content;
    background-color: #F4F7FE !important;
}
.myBlog-container{
    background-color: #FFF;
    height: auto;
    width: 70%;
    padding: 20px;
    border: 1px solid rgb(189, 189, 189);
    margin: 20px 15%;
}
.profile-section{
    width: 30%;
    text-align: left;
    display: flex;
}
.profile-section a{}


.blog-btn{
    margin-left: 5opx;
}
.blog-title{
    margin-top: 40px;
    color: black;
    text-align: center;
    margin-left: 50px;
}
.button-blogs{
    width: 120px;
    height: 40px;
    margin: 10px;
    border: 1px solid #D6EFD8;
    border-radius: 10px;
    background-color: #F2F9F8;
}
.button-blogs:hover{
    background-color: #FCAEAE;
}
.blogs{
    width: 100%;
}
.blogs h2{
    color: black;
}
.approve-blog-container{
    width: 40%;
    margin: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.post-information{
    width: 29%;
    padding: 2%;
    margin: 0 2%;
    height: fit-content;
    margin-bottom: 30px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
}
.blog-information a{
    text-decoration: none;
}
.pending-blog-container{
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 5%; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.my-blog{
    width: 100%;
    height: 60vh;   
    background-color: #FFFFFF;
}

.blog-title{
    margin: 10px;
}

.button-blogs{
    margin: 0 20px 0 20px;
    background-color: white;
    width: 110px;
    height: 30px;
    border-radius: 5px;
}

.input-blog{
    border-radius: 5px;
    height: 25px;
    margin-left: 20px;
}
