.user-profile-container {
  width: 80%;
  height: 91vh;
  display: flex;
  /* background-color: #FDD1BE; */
  /* color: #cee4d0;
  text-shadow: 
        0.5px 0.5px 0 #FF597B, 
        -0.5px 0.5px 0 #FF597B, 
        0.5px -0.5px 0 #FF597B, 
        -0.5px -0.5px 0 #FF597B; */
  /* background-image: url('https://i.pinimg.com/originals/a8/11/4c/a8114cabb5568e656f88d7bf671945e9.gif'); */
  background-position: center;
  background-size: cover;
  border-top: 2px solid #cee4d0;
  margin-left: 150px;
}

.user-profile-header {
  width: 28%;
  height: 600px;
  padding-top: 40px;
  margin: 10px;
  border-right: 3px solid #cee4d0;
  background-color: #FFF;
}

.user-avatar {
  width: 300px;
  height: 300px;
  margin-right: 15px;
  border: 2px solid #cee4d0;
  object-fit: cover;
  transition: border-color 0.3s;
}

.user-profile-bio{
  width: 771px;
  height: 600px;
  padding-top: 40px;
  margin: 10px;
  background-color: #FFFF;
}
.user-profile-bio h3{
  text-align: left;
}

h1{
  color: #ccedce;
  text-shadow: 
        1.5px 1.5px 0 #78a478, 
        -1.5px 1.5px 0 #78a478, 
        1.5px -1.5px 0 #78a478, 
        -1.5px -1.5px 0 #78a478;
  text-align: left;
  padding-top: 50px;
  padding-left: 30px;
}

.user-table-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  /* border: 2px solid #FF8E9E; */
}

.action-bar{
  background-color: #d5d5d5;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.action{
  color: black;
    display: inline;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    width: 20%;
    text-align: center;
    padding-left: 20px;
}

.cart-content {
  width: 90%;
  height: 58px;
  border-bottom: 2px solid  #cee4d0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding-top: 25px;

}

.cart-item{
  width: 20%;
  padding: 5px;
}

.input-edit{
  width: 550px;
  height: 50px;
  margin: 10px 0 28px 0;
}

.radio-gender{
  margin: 10px 0 28px 0;
}