.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px; 
  margin-top: 20px;
  max-width: 1400px;
}

.blog-info {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 15px; /* Giảm padding bên trong */
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-info:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); 
}

.blog-info h2 {
  font-size: 18px; 
  margin-bottom: 8px; 
}

.blog-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; 
}

.blog-info h3 {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

.blog-info p {
  font-size: 12px;
  color: #888;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

button {
  cursor: pointer;
  margin-left: 5px; 
}

button[type="primary"],
button[type="danger"] {
  border: none;
  padding: 8px 12px; 
  color: #fff;
  border-radius: 5px;
}

button[type="primary"] {
  background-color: #4caf50; 
}

button[type="danger"] {
  background-color: #f44336;
}
