.dashboard-chart-container {
    padding: 20px;
    font-family: 'Comfortaa', sans-serif;
  }
  
  .pie-chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .chart-container {
    width: 45%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .pie-today-container, .pie-range-container {
    text-align: center;
  }
  .date-picker {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .date-picker .ant-picker {
    margin: 0 10px;
  }
  .bar-chart{
    width: 100%;
    margin-bottom: 15px;

  }
  .line-chart{
    width: 100%;
    margin-bottom: 15px;
  }
.line-chart-block{
  margin-bottom: 30px;
}
.dashboard-chart-container h2 {
  font-size: 32px; 
  font-weight: bold;
  font-size: 3rem;
  color: #a15a07; 
  text-align: center; 
  margin: 20px 0; 
  text-transform: uppercase;
  letter-spacing: 1px; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
  transition: color 0.3s ease; 
}
.line-and-bar{
  display: flex;
  flex-direction: row
}
.pie-today-container .pie-range-container{
  width:1000px;
  height: 1000px;
}
.pie-chart {
    display: inline-block;
    width: 700px; 
    height: 740px; 
    margin: 10px;
    margin-bottom: 60px;
}

.pie-chart-container {
    display: flex; 
    justify-content: space-around;
}
.line-and-bar strong{
  display: flex;
  align-items: flex-start;
  font-size: 26px;
  margin-bottom: 20px;
}
.Pie{
  margin-bottom: 30px;
}