.dashboard-chart-container {
    padding: 20px;
  }
  
  .pie-chart-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .chart-container {
    width: 45%;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .pie-today-container, .pie-range-container {
    text-align: center;
  }
  
  .chart-title {
    margin-top: 15px;
    font-weight: bold;
  }
  
  .date-picker {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .date-picker .ant-picker {
    margin: 0 10px;
  }
  .bar-chart{
    width: 100%;
    margin-bottom: 15px;

  }
  .line-chart{
    width: 100%;
    margin-bottom: 15px;
  }
  