.login-background{
    display: flex;
    align-items: center;
}

.login-ui{
    width: 50%;
    height: 100vh;
    /* background-color: #353945; */
    background-image: url('https://pa1.aminoapps.com/6547/269f5957ecaa4dc4dd61f50eeba94721a9a79c2e_00.gif');
    background-size: cover;
    background-position: center;

}

.login-logo{
    width: 15%;
    text-align: center;
    background-color: white;
    margin-top: 60px;
    margin-left: 50px;
    border-radius: 50px;
}

.logo{
    width: 30%;
    height: auto;
    /* transform: rotate(-60deg); */
}

.login-title{
    color: white;
    margin-top: 100px;
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
}
.title{
    display: flex;
    text-align: center;
    align-items: center;
    
}

.login-img{
    width: 100%;
}
.Koi-imglogin{
    width: 100%;
    height: 500px;
}

.login-form{
    width: 50%;
    text-align: center;
}

.login-form-title{
    text-align: center;
}

.title-welcome{
    text-align: left;
    padding-left: 160px;
    margin: 0;
}

.name-field{
    text-align: left;
    padding-left: 160px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 7px;
}

.input-field{
    display: inline-block;
    border: 1px solid #cbddf0;
    width: 60%;
    height: 40px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #EDF2F7;
}

.input-field:hover{
    background-color: white;
    border: 1px solid #cbddf0;
}

.signin-button{
    display: inline-block;
    border: 1px solid black;
    width: 60%;
    height: 40px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

.signin-button:hover{
    background-color: #17389c;
}

.link-to-signup{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link-to-signup:hover{
    color: blue;
}
.custom-spin{
    color:red;
}