.login-background{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F4F4F4;
    
}

/* .login-ui{
    width: 50%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/d2/0c/c3/d20cc3aecd9ab7a4416d1680e68e53f5.jpg');
    background-size: cover;
    background-position: center;

} */

.login-logo{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    
}

.logo{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid gray;
}

.login-title{
    color: black;
    margin-top: 100px;
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
    text-shadow: 
        1.5px 1.5px 0 white, 
        -1.5px 1.5px 0 white, 
        1.5px -1.5px 0 white, 
        -1.5px -1.5px 0 white;
}
.title{
    
}

.login-form{
    width: 40%;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(186, 186, 186);
    padding: 20px;
    position: absolute;
    margin-left: 30%;
    background-color: #FFFF;
    border-radius: 20px;
    padding-bottom: 35px;
}

.login-form-title{
    text-align: center;
}

.title-welcome{
    color: black;
    text-align: center;
    font-weight: bold;
    /* text-shadow: 
        1.5px 1.5px 0 black, 
        -1.5px 1.5px 0 black, 
        1.5px -1.5px 0 black, 
        -1.5px -1.5px 0 black; */
}

.name-field{
    text-align: left;
    margin: 0;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 7px;
    color: black;
}

.input-field{
    display: inline-block;
    border: 1px solid #cbddf0;
    width: 80%;
    height: 40px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #EDF2F7;
}

.input-field:hover{
    background-color: white;
    border: 1px solid #cbddf0;
}

.signin-button{
    display: inline-block;
    border: 2px solid grey;
    width: 60%;
    height: 40px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: black;
    margin-top: 35px;
    margin-bottom: 35px;
    color: white;
}

.signin-button:hover{
    background-color: gray;
    color: black;
}

.link-to-signup{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link-to-signup:hover{
    color: blue;
}
.custom-spin{
    color:red;
}