.detail-container{
  width: 100%;
  height: auto;
  background-color: #F4F4F4;
}

.short-detail-in4{
  width: 930px;
  height: 584px;
  background-color: #FFFF;
  display: flex;
  align-items: center;
  margin: 20px;
  margin-left: 300px;
  text-align: left;
  padding: 16px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}


.detail-img{
  width: 420px;
  height: 522px;
  padding: 16px;
}

.detail-img img{
  width: 400px;
  height: 420px;
}

.product-detail-in4{
  width: 486px;
  height: 584px;
  padding: 16px;
}
.product-detail-in4 a{
  text-decoration: none;
  color: black;
}

.customer-in4{
  width: 440.4px;
  height: 67px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  padding: 10px;
}
.customer-in4 img{
  width: 48px;
  height: 48px;
}
.customer-in4 p{
  margin-left: 20px;
}

/* .description-detail{
  width: 622px;
  height: 671px;
  background-color: #FFFF;
  padding: 16px;
} */
.product-detail-in4 user-block :hover{
  cursor: pointer;
}
/* BlogDetail.css */
.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin-left: 150px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .blog-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .blog-description {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin:0 20px 20px;
    max-width: 500px;
    text-align: center;
  }
  
  .blog-author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .blog-author img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .blog-author p {
    font-size: 1rem;
    color: #333;
  }
  
  .blog-date {
    font-size: 0.875rem;
    color: #777;
  }
  
  @media (max-width: 768px) {
    .blog-container {
      padding: 10px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    .blog-description {
      font-size: 1rem;
    }
  
    .blog-author img {
      width: 40px;
      height: 40px;
    }
  }
  