.header-form{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FCFDF4;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.home-logo{
    width: 65px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}

.home-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo-home{
    width: 50%;
    height: auto;
}

.list-active{
    width: 100%;
    text-align: left;
}

.active{
    color: black;
    display: inline;
    padding: 0 40px 0 40px;
    font-size: 16.5px;
    
}
.active a{
    color: whitesmoke;
    text-shadow: 
        1.5px 1.5px 0 black, 
        -1.5px 1.5px 0 black, 
        1.5px -1.5px 0 black, 
        -1.5px -1.5px 0 black;
}
.active menu{
    background-color: pink;
}

.link{
    text-decoration: none;
    color: black;
    text-align: right;
    color: #f0f8ff; /* Xanh nháº¡t */
    text-decoration: none;

}

.button-link-signin{
    background-color: #FFFFFF;
    color: black;
    display: inline;
    padding: 7px 25px 7px 25px;
    margin: 5px 10px 5px 22px;
    font-size: 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    white-space: nowrap;
}

.button-link-signin:hover{
    background-color: #CAF4FF;
}

.link_to_signin{
    text-decoration:none;
    color: black;
}

.button-link-login{
    background-color: #FFFFFF;
    color: black;
    display: inline;
    padding: 7px 25px 7px 25px;
    margin: 5px 40px 5px 10px;
    font-size: 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.button-link-login:hover{
    background-color: #CAF4FF;
}

.link_to_login{
    text-decoration:none;
    color: black;
}
