.navabar{
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    background-color: #f4f4f4;
    font-family: var(--font-arima);
}

.img-background{
    width: 80%;
    height: 400px;
    border-bottom: 2px solid rgb(167, 167, 167);
    border-left: 2px solid rgb(167, 167, 167);
    border-right: 2px solid rgb(167, 167, 167);
    border-radius: 5px;
    opacity: 0.8;
    /* transform: rotate(90deg); */
}


ul.list-active-navbar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* padding: 20px; */
}

.fram-link {
    /* margin: 0 3px; */
}

li.active-navbar {
    display: inline-block;
}

.link-advise {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid black;
    margin: 0 7px 0 7px;
    white-space: nowrap;
    font-size: 18px;
}

a.link-advise:hover {
    background-color: #D6EFD8;
    color: black;
    font-size: 16px;
}

li.active-navbar a.link-advise.active {
    background-color: black;
    color: white;
}

.navbar-title{
    color: white;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
    font-family: Arial, sans-serif;
    text-shadow: 
        1.5px 1.5px 0 black, 
        -1.5px 1.5px 0 black, 
        1.5px -1.5px 0 black, 
        -1.5px -1.5px 0 black;
}

.navbar-quotes{
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-family: Comic Sans MS cursive;
    font-size: 18px;
    text-shadow: 
        1px 1px 0 black, 
        -1px 1px 0 black, 
        1px -1px 0 black, 
        -1px -1px 0 black;
}
