/* Reset margins and paddings for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Inter', sans-serif;
  background-color: #F4F7FE;
}

.admin-dashboard {
  display: flex;
  min-height: 100vh;
  background-color: #F4F7FE;
}

/* ====================================== SIDE BAR ============================= */
.sidebar {
  /* background-image: url("https://firebasestorage.googleapis.com/v0/b/fengshuikoi.appspot.com/o/5a8176e5-8962-4fbd-ab9e-e328a0e6350a.jpg?alt=media" ); */
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/95/22/42/1000_F_595224284_ptGqy1Jc7SVPcuh0cNnT37YZIHQCQk3y.jpg");
  background-position: center;
  width: 280px;
  background-color: #134892;
  padding: 30px 0;
  position: fixed;
  height: 100%;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
}

.home-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px  ;

}

.logo-home {
  width: 80 px;
}
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3); 
  color: #ffffff; 
  padding-top: 20px;
  transition: all 0.3s ease;
}

.sidebar .home-logo img {
  width: 60%;
  margin: 0 auto;
  display: block;
  padding-bottom: 20px;
  margin-top: 20px;
}

.sidebar .ant-menu {
  background-color: transparent !important;
  color: #ffffff; 
}

.sidebar .ant-menu-item {
  font-weight: bold;
  color: #ffffff; 
  padding-left: 20px;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
}


.sidebar .ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #ffffff; 
}

.dashboard-main-content {
  padding: 40px;
}

.sidebar .ant-menu-item-selected {
  background-color: rgba(78, 28, 28, 0.2);
  border-left: 3px solid #ffffff;
}

.sidebar .ant-menu-submenu-title {
  font-weight: bold;
  color: #ffffff; 
}

.sidebar .ant-menu-submenu-arrow {
  color: #490a0a; 
}

.sidebar .ant-menu-submenu:hover {
  background-color: rgba(68, 17, 17, 0.1); 
}


.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  width: calc(100% - 280px);
  position: fixed;
  top: 0;
  left: 280px;
  z-index: 999;
}

.header-titles {
  font-size: 22px;
  color: #1F2937;
}

.header-actions {
  display: flex;
  align-items: center;
}

.notification-btn {
  background-color: #6366F1;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font: 16px;
}
.notification-btn:hover {
  background-color: #4F46E5;
}

.ant-avatar {
  width: 40px;
  height: 40px;
}

/* Dashboard Content Styling */
.dashboard-content {
  flex-grow: 1;
  padding: 80px 30px 30px;
  margin-left: 280px;
  background-color: #F4F7FE;
  min-height: 100vh;
  /* background-image: url("https://as1.ftcdn.net/v2/jpg/08/09/95/38/1000_F_809953860_9PelITlTOh5imav5RgDmbQlLRszuIySa.jpg");
  background-position: center;
  opacity: 30%; */
}

.dashboard-main-content {
 /* background-image: url("https://as2.ftcdn.net/v2/jpg/08/09/95/33/1000_F_809953303_KYFWlNWc0NngZEfS7wDD7bPnalcBrlNv.jpg"); */
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .header {
    width: calc(100% - 200px);
    left: 200px;
  }

  .dashboard-content {
    margin-left: 200px;
  }
}
