.footer{
    /* position: absolute;
    bottom: 0; */
    /* position: fixed; */
    bottom:0;
    width: 100%;
    background-color: #FCFDF4;
    background-size: cover;
    background-position: center;
    padding: 10px 0;
    height: auto;
    font-size: 15px;
}
.footer-infor{
    text-align: left;
    color: black;
    margin-left: 45%;
}

.copyright{
    text-align: left;
    color: black;
    margin-left: 45%;
}