.header-form-cal{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    /* background-image: linear-gradient(#6F2074, white); */
    background-color: #6F2074;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgb(167, 167, 167);
    font-family: var(--font-arima);
}

.cal-home-logo{
    width: 55px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    border-radius: 50%;
    /* background-color: white; */
    /* border: 2px solid white; */
}

.cal-home-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.cal-logo-home{
    width: 50%;
    height: auto;
}

.cal-list-active-form{
    width: 70%;
}

.cal-list-active{
    width: auto;
    text-align: left;
}

.cal-active{
    color: white;
    display: inline;
    padding: 0 25px;
    font-size: 16px;
    
}
.cal-active a{
    color: white;
}
.cal-active menu{
    background-color: pink;
}

.cal-link{
    text-decoration: none;
    color: black;
    text-align: right;
    color: #f0f8ff;
    text-decoration: none;

}

.cal-button-link-signin{
    background-color: #FFFFFF;
    color: black;
    display: inline;
    padding: 7px 25px;
    margin: 5px 10px 5px 22px;
    font-size: 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    white-space: nowrap;
}

.cal-button-link-signin:hover{
    background-color: #CAF4FF;
}

.cal-link_to_signin{
    text-decoration:none;
    color: black;
}

.cal-button-link-login{
    background-color: #FFFFFF;
    color: black;
    display: inline;
    padding: 7px 20px;
    margin: 5px 40px 5px 10px;
    font-size: 15px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}

.cal-button-link-login:hover{
    background-color: #CAF4FF;
}

.cal-link_to_login{
    text-decoration:none;
    color: black;
}
.cal-login-form-avt{
    display: inline;
    width: 25%;
}
.cal-authorization-box{
    text-align: right;
}
.cal-div-avata{
    margin-right: 20px;
}