.generate-pond{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E6F0F4;
    padding: 20px;
}   
.gen-pond-form{
  width: 60%;
}
.gen-pond-form h1{
    color: whitesmoke;
    text-shadow: 
    -1px 0 black, 
    0 1px black,      
    1px 0 black, 
    0 -1px black;
}
.gen-pond-text{
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 10px 15px 10px;
}
.gen-pond-text label{
    font-weight: bolder;
}

.gen-pond-description{
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 10px 15px 10px;
}
.gen-pond-description label{
    font-weight: bolder;
}

.gen-pond-image{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 10px 15px 10px;
    
}

.gen-pond-image input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.gen-pond-image label{
    font-weight: bolder;
}

.submit-button{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #0061A0;
    color: white;
    margin-left: 45%;
}
