
.new-blog {
  width: 100%;
  height: auto;
  background-color: #F4F4F4;

}

.blog-container {
  height: auto;
  background-color: #fa91a6;
}

.blog-info {
  background-color: #FFFFFF;
}

.blog-info a {
  width: 300px;
  height: 320px;
  text-decoration: none;
  color: #fa91a6;
}

.link-to-detail p{
  text-align: left;
}

.link-to-detail h2{
  text-align: l7px;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  background-color: #FFFFFF;
}

.blog-info {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  border: 5px solid #fa91a6;
  border-radius: 10px;
  background-color: #ebf0ff;
}

.blog-info:hover {
  transform: scale(1.05);
}

.blog-info img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #eaeaea;
}

.blog-info h2 {
  font-size: 1.5rem;
  color: #333;
  padding: 0 16px;
  text-align: center;
  min-height: 60px;
}

.blog-info p {
  color: #777;
  font-size: 0.9rem;
  padding: 0 16px 16px;
  margin-top: auto;
}

.blog-info a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 12px 0;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid white;
}

/* .blog-info a:hover {
  background-color: #fdfdfd;
  color: white;
} */

body {
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.show-blog-link {
  display: block;
  text-align: center;
  padding: 20px;
  margin: 0;
}

