.form-payment-plan{
    /* border-top: 1px solid rgb(197, 196, 196); */
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    padding: 2%;
}
.title-plan{
    margin: 4%;
    font-family: var(--font-playwrite);
}



.radio-plan{
    margin: 20px;
     width: '40%';
     font-family: var(--font-arima);
}
