.posting-blog{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
    
}
.bl-pt-form{
    margin-top: 30px;
    width: 80%;
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 25px;
}

.bl-pt-form h3{
    font-family: inherit;
    color: black;
    font-size: 20px;
    margin: 20px;
    padding-left: 3%;
    margin-bottom: 40px;
    font-family: var(--font-playwrite)
}

.form-left{
    width: 35%;
}
.posting-blog-inputImage{
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
}
.posting-blog-inputImage label{
    font-weight: bold;
    font-family: var(--font-playwrite)
}
.posting-blog-inputImage p{
    font-family: var(--font-arima);
    font-size: 15px;
}
.posting-blog-inputImage input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}



.form-right{
    width: 65%;
}
.posting-blog-title label{
    margin-right: 10px;
    font-family: var(--font-arima);
    font-size: 17px;
}
.posting-blog-title{
    text-align: left;
}
.posting-blog-title input{
    margin: 20px;
    width: 90%;
}
.posting-blog-description{
    text-align: left;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.posting-blog-description label{
    width: 30%;
    font-family: var(--font-arima);
    font-size: 17px;
}
.posting-blog-description textarea{
    text-align: left;
    border-radius: 10px;
    margin: 20px; 
    width: 90%
}

.see-more-text{
    margin: 20px 0;
    font-size: 17px;
    font-family: var(--font-arima);
}



.subm-pt-button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 16px;
    border: none;
    transition: 0.3s ease;
    font-family: var(--font-arima);
}
.subm-pt-button:hover{
    background-color: rgb(190, 190, 190);
    color: black;
    transition: 0.3s ease;
}
.option-payment{
    border: 1px solid black;
    margin: 20px;
}

#file-input{
    display: none;
}
.image-upload-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.upload-icon {
    margin-right: 8px;
    font-size: 24px;
    size: 50px;
  }


.edit-form{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

