.posting-blog{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
}
.bl-pt-form{
    margin-top: 30px;
    width: 60%;
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 16px;
}
.bl-pt-form h1{
    color: #D6EFD8;
    text-shadow: 
    -1px 0 black, 
    0 1px black,      
    1px 0 black, 
    0 -1px black;
}
.bl-pt-form h3{
    font-family: inherit;
    color: #D6EFD8;
    text-shadow: 
    -1px 0 black, 
    0 1px black,      
    1px 0 black, 
    0 -1px black;
}
.posting-blog-title{
    text-align: left;
    background-color: #F2F9F8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    border: 1px solid #8eb98e;
}
.posting-blog-title label{
    font-weight: bolder;
}

.posting-blog-description{
    text-align: left;
    background-color: #F2F9F8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    border: 1px solid #8eb98e;
}
.posting-blog-description label{
    font-weight: bolder;
}

.posting-blog-inputImage{
    background-color: #F2F9F8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    border: 1px solid #8eb98e;
    
}

.posting-blog-inputImage input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.posting-blog-inputImage label{
    font-weight: bolder;
}

.subm-pt-button{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #80AF81;
    color: white;
    margin-top: 16px;
}
.subm-pt-button:hover{
    background-color: #c8e6cb;
    color: black;
}
.option-payment{
    border: 1px solid black;
    margin: 20px;
}
#file-input{
    display: none;
}
.image-upload-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
.upload-icon {
    margin-right: 8px;
    font-size: 24px;
    size: 50px;
  }