.container {
  display: flex; /* Sử dụng Flexbox cho toàn bộ container */
  flex-direction: column; /* Căn chỉnh theo cột */
  align-items: center; /* Căn giữa theo chiều ngang */
  width: 100%; /* Chiếm toàn bộ chiều rộng */
}

.select-info-container {
  display: flex; /* Sử dụng Flexbox để căn chỉnh các phần tử select và info */
  justify-content: space-between; /* Căn đều các phần tử */
  width: 100%; /* Chiếm toàn bộ chiều rộng */
  margin-bottom: 20px; /* Khoảng cách giữa phần chọn và thông tin */
  padding: 0 20px; /* Đệm cho các phần tử */
  box-sizing: border-box; /* Bao gồm padding trong chiều rộng tổng thể */
}

.select-item {
  flex: 1; /* Mỗi select chiếm không gian bằng nhau */
  margin: 0 10px; /* Khoảng cách giữa các select */
}

.selected-info {
  flex: 1; /* Chiếm không gian bằng nhau */
  margin: 0 10px; /* Khoảng cách giữa các thông tin */
}
.card-container {
  display: flex;
  flex-wrap: wrap; /* Cho phép các card tự xuống dòng khi hết không gian */
  justify-content: space-around; /* Căn giữa các card */
  margin-top: 20px;
}

.custom-card {
  border: 1px solid #ccc; /* Đường viền của card */
  border-radius: 10px; /* Bo góc */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng cho card */
  margin-bottom: 20px; /* Khoảng cách giữa các card */
  padding: 15px;
}

.custom-card p {
  margin: 0;
  padding: 5px 0;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.custom-button {
  background-color: #4CAF50; /* Màu nền xanh */
  color: white; /* Màu chữ trắng */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049; /* Màu nền tối hơn khi hover */
}
