.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.select-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.select-item {
  flex: 1;
  margin: 0 10px;
}

.selected-info {
  flex: 1;
  margin: 0 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
}

.custom-card p {
  margin: 0;
  padding: 5px 0;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.custom-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45a049;
}

.harmony-rating-bar {
  width: var(--harmony-point, 50%);
  background-color: var(--harmony-color, #4caf50);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--harmony-text-color, white);
  font-weight: bold;
  transition: width 0.5s ease-in-out;
  /* border: 2px solid #000;
  border-radius: 5px;  */
}

#harmony-point {
  margin-left: 68px;
}

.harmony-bar-wrap {
  width: "100%";
  background-color: #e0e0e0;
  border-radius: 30px;
  overflow: hidden;
  height: 20px;
  position: "relative";
}