.signup-background{
    display: flex;
    align-items: center;

}

.signup-ui{
    width: 50%;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/9a/69/1e/9a691ef8ca30394b4e5522e2ffb7e736.jpg');
    background-size: cover;
    background-position: center;
}

.signup-logo{
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid white;
    /* background-image: url(''); */
}

.logo{
    width: 70%;
    height: auto;
}

.signup-title{
    color: #071C5F;
    margin-top: 100px;
    text-align: center;
    font-size: 35px; 
    font-weight: bold;
    text-shadow: 
        1.5px 1.5px 0 white, 
        -1.5px 1.5px 0 white, 
        1.5px -1.5px 0 white, 
        -1.5px -1.5px 0 white;
}
.title{
    display: flex;
    text-align: center;
    align-items: center;
}

/* .signup-img{
    width: 100%;
}
.Koi-imgsignup{
    width: 97%;
    height: auto;
} */

.signup-form{
    width: 50%;
    text-align: center;
}

.signup-form-title{
    text-align: center;
    margin-bottom: 30px;
}

.title-welcome{
    text-align: left;
    padding-left: 160px;
    margin: 0;
}

.name-field{
    text-align: left;
    padding-left: 160px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 7px;
}

.input-field{
    display: inline-block;
    border: 1px solid #cbddf0;
    width: 60%;
    height: 40px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #EDF2F7;
}

.input-field:hover{
    background-color: white;
    border: 1px solid #cbddf0;
}

.check-policy{
    margin-top: 40px;
}

.signin-button{
    display: inline-block;
    border: 1px solid #071C5F;
    width: 60%;
    height: 40px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #071C5F;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.signin-button:hover{
    background-color: #DAD2CF;
    color: black;
}

.link-to-signin{
    text-decoration: none;
    color: #071C5F;
    font-weight: bold;
}

.link-to-signin:hover{
    color: blue;
}